# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar chave do Firebase
Backend/firebase_key.json

# Ignorar arquivos de build (lixo gerado pelo .NET)
**/bin/
**/obj/

# Ignorar configurações locais do VS Code
.vscode/